body {
   background-color: black;
}
   
h1 {
  color: white;
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
   }
h2 {
  color: white; 
  font-family: Impact, Charcoal, sans-serif;
  font-size: 150%;
}   
p {
	color: white;
}